<?xml version='1.0' encoding='utf-8'?>
<widget  xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id="org.aysoks.schedules"
         version="2.0.0-alpha.3">
    <name>AysoKS</name>
    <description>
        An app to view schedule information for Wichita-area AYSO regions.
    </description>
    <author href="http://github.com/s42ky/" email="sky42ks@gmail.com">
        Scott Yeskie
    </author>

    <content src="index.html" />

    <icon src="icons/icon1024.png" width="1024" height="1024" />

    <access origin="http://aysoks.org" subdomains="true" />
    <access origin="https://aysoks.org" subdomains="true" />
    <access origin="https://twitter.com" subdomains="true" browserOnly="true" />
    <access origin="http://*.google.com" />
    <access origin="https://*.google.com" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="geo:*" />

    <preference name="Orientation" value="portrait" />

    <engine name="android" spec="~4.1.1" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="KeepRunning" value="false"/>
    </platform>
    <platform name="ios">
        <preference name="EnableViewportScale" value="true"/>
        <preference name="target-device" value="handset" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
