body, div.page, #setup, #index,
#site-header, .pageheader {
	max-width: 500px;
}

table {
	width: 100%;
	border: 2px solid black;
	text-align: center;
}

div.pageheader h1 a {
	color: #EEE !important;
	text-decoration: none;
}


#setup img {
	width: 100%;
	margin: auto;
	max-width: 300px;
}

#index img {
	width: 100%;
}

.main-buttons {
	width: 80%;
	margin: 10px 10%;
}

#team .results ul {
	width: 33%;
	padding: 2px;
}

#team .results ul li {
	font-weight: normal;
	font-size: 0.9em;
}

#team .results ul li a {
	padding: 10px;
	padding-right: 30px;
}

tr.thead {
	background-color: #CCC;
	font-weight: bold;
	font-size: 1.3em;
}

.active-button {
	theme: "b";
}

tr { border-top: 1px solid black; }

td { padding: 1px 4px; }

.width40 { width: 39%; display: inline-block !important; margin: 0px; }
.width50 { width: 49%; display: inline-block !important; margin: 0px; }
.width60 { width: 59%; display: inline-block !important; margin: 0px; }

.ta-right { text-align: right; }

.saved-team {
	color: #009;
}