
table {
	width: 100%;
	border: 2px solid black;
	text-align: center;
}

tr.thead {
	background-color: #CCC;
	font-weight: bold;
	font-size: 1.3em;
}

tr { border-top: 1px solid black; }

td { padding: 1px 4px; }

.width40 { width: 39%; display: inline-block !important; margin: 0px; }
.width50 { width: 49%; display: inline-block !important; margin: 0px; }
.width60 { width: 59%; display: inline-block !important; margin: 0px; }

.ta-right { text-align: right; }
