<div id="divis" data-role="page" class="page">
    <div class="ui-bar ui-bar-d">Select Filter</div>
    <label>Region</label>
    <div class="filters region-select" data-role="navbar">
        <ul></ul>
    </div>

    <label>Division</label>
    <div class="filters divis-select1" data-role="navbar">
        <ul></ul>
    </div>

    <div class="filters divis-select2" data-role="navbar">
        <ul></ul>
    </div>

    <label>Gender</label>
    <div class="filters gender-select" data-role="navbar">
        <ul>
            <li class="Boys"><a>Boys</a></li>
            <li class="Girls"><a>Girls</a></li>
            <li class="Coed"><a>Coed</a></li>
        </ul>
    </div>

    <label for="slider-fill">Week</label><span class="week-desc"></span><br />
    <input type="range" name="slider-week" id="slider-week"
           value="1" min="1" max="3" data-highlight="true" />

    <button id="divis-submit">Go</button>
</div>
