<div id="game" class="page">
    <h2>Game Info</h2>
    <div class="when">Week <span class="game-week">#{{game.weekNum}}</span><br />
        {{game.dateTime}}
    </div>
    <div class="home team">
        <h3>Home Team</h3>
        <h3 class="team-code">{{game.homeTeam.code}}</h3>
        <div class="coach">
            <strong>Coach</strong><br />
            <span class="name">{{game.homeTeam.coach}}</span><br />
            <a class="tel" href="tel:{{game.homeTeam.coachTel}}"
               data-role="button" data-mini="true" data-inline="true"
               data-icon="arrow-r" data-iconpos="right">Call</a>
        </div>
    </div>
    <div class="away team">
        <h3>Away Team</h3>
        <h3 class="team-code">{{game.awayTeam.code}}</h3>
        <div class="coach">
            <strong>Coach</strong><br />
            <span class="name">{{game.awayTeam.coach}}</span><br />
            <a class="tel" href="tel:{{game.awayTeam.coachTel}}"
               data-role="button" data-mini="true" data-inline="true"
               data-icon="arrow-r" data-iconpos="right">Call</a>
        </div>
    </div>
    <ul data-role="listview" data-inset="true">
        <li><a ui-sref="map({ region: game.region })" class="map-link">
            <strong>Region</strong> <span class="game-region">{{game.region}}</span>
            <span class="ui-li-aside">Directions</span>
        </a></li>

        <li><a ui-sref="field({ id: game.field})" class="field-link">
            <strong>Field</strong> <span class="game-field">{{game.field}}</span>
            <span class="ui-li-aside">Field map</span>
        </a></li>
    </ul>
</div>
