<div id="team-detail" data-role="page" class="page">
    <h2>Team <span class="team"></span></h2>
    <div style="display: inline-block; float: right;">
        <button class="myteam" data-mini="true" data-inline="true"
                data-icon="star" data-iconpos="right">
            <span class="fav">Save</span>
        </button>
    </div>
    <p>
        <span class="coach">- Coach </span>
        <a class="tel" href="#" data-role="button" data-mini="true"
           data-inline="true" data-icon="arrow-r" data-iconpos="right">Call</a>
    </p>

    <ul data-role="listview" data-theme="c"></ul>
</div>
