body, ayso-app, nav {
    max-width: 600px;
}

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

//Import IonIcons
$ionicons-font-path: "../../node_modules/ionicons/fonts";
@import "../../node_modules/ionicons/scss/ionicons";

article.container {
    //Including pad-all-1
    padding: $spacer-y $spacer-x !important;
}

.main-buttons {
    width: 80%;
}

.saved-team {
    color: #009;
}

//form label {
//    font-size: 1.2rem;
//    font-weight: bold;
//}

button.btn-xs {
    padding:.15rem .5rem;
    font-size:.7rem;
    line-height:1.5;
    border-radius:.2rem;
}

.navbar-dark.bg-primary .navbar-nav .nav-link {
    color: #FFFFFF;
}

//Responsive font size. Default bootstrap is 16px
//Using html body to get higher priority than default
@include media-breakpoint-down(xs) {
    html body {
        font-size: 12px;
    }
}

@include media-breakpoint-up(sm) {
    html body {
        font-size: 14px;
    }
}

@include media-breakpoint-up(md) {
    html body {
        font-size: 16px;
    }
}

@include media-breakpoint-up(lg) {
    html body {
        font-size: 20px;
    }
}
