body, ayso-app {
    max-width: 600px;
}

@import "../../node_modules/bootstrap/scss/variables";

article.container {
    //Including pad-all-1
    padding: $spacer-y $spacer-x !important;
}

.main-buttons {
    width: 80%;
}

.saved-team {
    color: #009;
}
